@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-gray-50 dark:bg-[#0f1117];
  }
  body {
    @apply bg-gray-50 dark:bg-[#0f1117] text-gray-900 dark:text-gray-100 transition-colors duration-200;
  }
}

.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 0.3s;
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* Hide scrollbar arrows (buttons) */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px; /* floating effect */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent; /* hidden by default */
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.3s;
}

/* Show on hover */
.custom-scrollbar:hover {
  scrollbar-color: rgba(100, 100, 100, 0.6) transparent; /* Firefox */
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6);
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.8);
}